<%= stylesheet_link_tag 'views/spots-show', 'media' => 'all', 'data-turbo-track': 'reload' %>

<div class="spot-show-container container">
  <div class="spot-info text-center">
    <input id="address" type="textbox" value="<%= @spot.address %>">
    <div id="map" style="height: 500px; width: 100%;"></div>

    <h1 class="spot-title mt-3"><%= @spot.name %></h1>
    <p class="mb-1">住所: <%= @spot.address %></p>
    <p>説明: <%= @spot.description %></p>

    <div class="spot-actions mt-3">
      <%= link_to 'スポット一覧に戻る', prefecture_path(@spot.prefecture_id), class: 'back-link btn btn-primary' %>

      <% if logged_in? %>
        <%= link_to 'スポットを編集する', edit_spot_path(@spot), class: 'edit-link btn btn-secondary ml-2' %>
      <% end %>
    </div>
  </div>

  <div class="creatures-section mt-5">
    <h2 class="text-center">このスポットにいる生き物</h2>
    <% if @creatures.any? %>
      <div class="row">
        <% @creatures.each do |creature| %>
          <div class="col-md-3 mb-4">
            <div class="creature-item border p-3 rounded shadow-sm text-center">
              <h4><%= link_to creature.name, creature %></h4>
              <% if creature.photo.present? %>
                <%= image_tag creature.photo.url(:thumb), class: 'creature-image img-fluid mb-2' %>
              <% end %>
              <p><%= creature.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-center">このスポットには生き物がいません。</p>
    <% end %>
  </div>
</div>
<%= javascript_import_module_tag "custom/spots_show" %>
<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
</script>
