<%= stylesheet_link_tag 'views/creatures-index', 'media' => 'all', 'data-turbo-track': 'reload' %>

<h1 class="creature-title">生き物一覧</h1>

<%= link_to '新規作成', new_creature_path, class: 'btn btn-primary new-creature-link' %>

<table class="creature-table">
  <thead>
    <tr>
      <th>名前</th>
      <th>説明</th>
      <th>時期</th>
      <th>写真</th>
      <th>作業</th>
    </tr>
  </thead>
  <tbody>
    <% @creatures.each do |creature| %>
      <tr>
        <td><%= creature.name %></td>
        <td><%= creature.description %></td>
        <td><%= creature.periods %></td>
        <td class="creature-photo-cell">
          <%= image_tag creature.photo.url(:thumb), class: 'creature-image' if creature.photo.present? %>
        </td>
        <td>
          <%= link_to '詳細', creature, class: 'btn btn-info' %>
          <%= link_to '編集', edit_creature_path(creature), class: 'btn btn-secondary' %>
          <%= link_to '削除', creature, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
