<%= stylesheet_link_tag 'views/creatures-show', 'media' => 'all', 'data-turbo-track': 'reload' %>
<div class="creature-details-container">
  <h1 class="creature-title"><%= @creature.name %></h1>

  <div class="creature-info">
    <div class="creature-photo">
      <%= image_tag @creature.photo.url(:thumb), class: 'creature-image' if @creature.photo? %>
    </div>
    <p><strong>時期:</strong> <%= @creature.periods %></p>
    <p><strong>説明:</strong> <%= @creature.description %></p>
  </div>

  <div class="creature-actions">
    <% if logged_in? %>
      <%= link_to 'Edit', edit_creature_path(@creature), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Back', creatures_path, class: 'btn btn-secondary' %>
  </div>
</div>
